<!DOCTYPE html>
<html>
<head>
    <title>Title of my Asp.Net page</title>
</head>
<body>
    <form action="~/Pages/Name.cshtml" method="post">
        <input type="text" name="name" placeholder="Type name of user here."/>
        <input type="submit" value="Send the data" />
    </form>
</body>
</html>
